[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/plugins/start/slimux"]
	path = pack/plugins/start/slimux
	url = https://github.com/epeli/slimux
